USE [ForeignShare]
GO
/****** Object:  Table [dbo].[TNewDayTime]    Script Date: 03/31/2020 16:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TNewDayTime](
	[ExchgName] [varchar](50) NOT NULL,
	[ProductCode] [varchar](50) NULL,
	[OffsetMinute] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TNewDayTime] ([ExchgName], [ProductCode], [OffsetMinute]) VALUES (N'CME', N'GC', -17)
INSERT [dbo].[TNewDayTime] ([ExchgName], [ProductCode], [OffsetMinute]) VALUES (N'CME', N'SI', -17)
INSERT [dbo].[TNewDayTime] ([ExchgName], [ProductCode], [OffsetMinute]) VALUES (N'CME', N'HG', -17)
GO
print 'Processed 100 total records'
