<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
 <!--<add name="WMSConnectionString" connectionString="data source=(local);initial catalog=WMSData;persist security info=True;user id=sa;password=123456" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <appSettings>
    <!--<add key="ConStr" value="server=.;database=WMS;user=sa;pwd=123456" />-->
    <!--主库写，读写分离-->
    <!--两个版本的连接字符串写法不一样-->
    <add key="ServiceStackMasterRedis" value="fancky123456@127.0.0.1:6379?db=0&amp;connectTimeout=2&amp;sendtimeout=3&amp;receiveTimeout=4&amp;idletimeoutsecs=5&amp;NamespacePrefix=prefix." />
  <!--设置从库只读-->
    <add key="ServiceStackSlaveRedis" value="fancky123456@127.0.0.1:6380?db=0&amp;connectTimeout=2&amp;sendtimeout=3&amp;receiveTimeout=4&amp;idletimeoutsecs=5&amp;NamespacePrefix=prefix." />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>