<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!--进程名，进程路径-->
    <!--<add key="TTMarketAdapter" value="D:\ZProject\TTNew\TT V2\TTMarketAdapter\bin\Debug\TTMarketAdapter.exe"/>-->
    <add key="TTMarketAdapter" value="D:\ZProject\TTOld\MD\connamara-quickfixn-2d35bed-TT\TTMarketAdapter\bin\Debug\TTMarketAdapter.exe"/>
    <!--<add key="notepad" value="C:\Users\Administrator\Desktop\test.txt"/>-->
    <!--轮询时间间隔，单位秒-->
    <!--<add key="SentitelAssistantInterval" value="10"/>-->
  </appSettings>
</configuration>
