<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--FUT TT的交易所名称和品种名称-->
    <!--实盘-->
    <add key="TargetFutures" value="LME,CA;LME,AH;LME,PB;LME,ZS;LME,NI;LME,SN;CFE,VX" />
    <!--UAT  CL  添加的 待删除-->
    <add key="TargetSpreads" value="" />
    <!--OPT TT的交易所名称和品种名称-->
    <add key="TargetOptions" value="" />
    <!--<add key="TargetOptions" value="ICE,SB" />-->
    <!--<add key="TargetOptions" value="" />-->
    <!-- 先映射ZD的品种名称 配置格式：TT交易所,TT品种：ZD品种-->
    <!--根据 "TT交易所,TT品种" 找 "ZD的品种"-->
    <add key="MappingZDProducts" value="LME,ZS:L-ZS" />
    <!--根据映射ZD的品种名称之后，映射ZD的交易所名称 配置格式：ZD交易所,ZD品种-->
    <!--根据 "ZD品种" 找 "ZD交易所"-->
    <add key="MappingZDExchanges" value="CBOE,VX" />
    <!--期权期货现货,配置格式：TT品种:期货商品,现货商品。条之间分号隔开-->
    <add key="OptFutSpot" value="OVS2:FVS,FVS;DX:DX,DX;KC:KC,KC;CT:CT,CT;SB:SB,SB" />
    <!--货币名称，配置格式：TT tag15值,ZD名称-->
    <add key="CurrencyName" value="AUD,澳元;CHF,瑞士法郎;EUR,欧元;GBP,英镑;HKD,港币;HKD-HKFE,港交所港币;JPY,日币;KRW,韩元;MYR,马币;RMB,人民币;RMB-HKFE,港交所人民币;SGD,新加坡币;THB,泰铢;TWD,新台币;USD,美元;USD-HKFE,港交所美元" />
    <!--合约名称的汉字部分,配置格式：TT品种,合约名称的汉字部分-->
    <add key="ContractChineseName" value="OVS2,VSTOXX期权看;DX,美指看;KC,咖啡看;CT,棉花看;SB,11号糖看" />
    <!--价格倍率配置-->
    <add key="DisplayPrxFactor" value="CA:1;AH:1;PB:1;NI:1;SN:1;IPE e-Brent:1" />
    <add key="FractionalPrxFactor" value="ZC:ZS:ZW:ZR:ZO:XC:XW:XK,100,8" />
    <!--<add key="DisplayPrxFactor" value="CME,ZC:100;CME,ZS:100;CME,ZW:100;CME,ZR:100;CME,ZO:100;CME,XC:100;CME,XW:100;CME,XK:100" />-->
    <!--上手账号:和config 下quickfix_market.cfg里的SenderCompID的配置要一致-->
    <add key="SessionAndPsw" value="daintmd,summer986" />
    <add key="OnBehalfOfSubID" value="XJing" />
    <!--<add key="SessionAndPsw" value="daintmd,summer986" />-->
    <!--<add key="DisorderSpread" value="DX_S" />-->
    <!--发送到二级行情端口号-->
    <add key="multicastPort" value="7777" />
    <!--发送到二级行情IP，可用127.0.0.1代替-->
    <add key="multicastIP" value="127.0.0.1" />
    <!--程序启动时自动启动服务-->
    <add key="AutoStart" value="Yes" />
    <!--定时清结算价功能数据库配置-->
    <add key="FutureConnectStr" value="Server=10.0.0.40;user id=sa;password=shzd!@#456jxy;initial catalog=ForeignShare;Enlist=false;Min Pool Size=1;Max Pool Size=2"/>
    <add key="ForeignShareStr" value="Server=10.0.0.40;user id=sa;password=shzd!@#456jxy;initial catalog=ForeignShare;Enlist=false;Min Pool Size=1;Max Pool Size=2"/>
    <!--应用程序自动退出时间-->
    <add key="ApplicationExitTime" value="14:04:00" />
    <!--压缩发送到二级行情的数据时间-->
    <add key="ZipLogTime" value="00:00:00" />
    <!--是否保存发送到二级行情的数据-->
    <add key="LogSendMsg" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>