<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="QuickFixConfig" value="config\Quickfix_TTMarketAdapter.cfg"/>
    <add key="FIX42" value="config\FIX42.xml"/>
    <add key="SecurityDefinitionFuture" value="config\TT_Secu.dat"/>
    <add key="SecurityDefinitionOption" value="config\TT_Secu_Opt.dat"/>
    <!--FUT TT的交易所名称和品种名称-->
    <!--实盘-->
    <add key="TargetFutures" value="HKEX,LRN;HKEX,LRP;HKEX,LRS;HKEX,GDR;HKEX,GDU;HKEX,LRA;HKEX,LRC;HKEX,LRZ;HKEX,HHI;HKEX,HSI;HKEX,MCH;HKEX,MHI;HKEX,CUS;HKEX,CHH;HKEX,HTF;Euronext,jFCE;LME,CA;LME,AH;LME,PB;LME,ZS;LME,NI;LME,SN;SGX,CN;SGX,NK;SGX,IN;SGX,JB;SGX,TW;SGX,MY;SGX,CY;SGX,UC;SGX,FEF;SGX,SGP;SGX,TF;SGX,CH;ICE,FNG;ICE,BRN;ICE,WBS;ICE,ULA S;ICE,SB;ICE,CC;ICE,KC;ICE,CT;ICE,DX;ICE,YG;ICE,YI;Eurex,FDXM;Eurex,FVS;Eurex,FDAX;Eurex,FESX;CFE,VX;ICE,TF;ICE,W;ICE_L,Z;ICE,C;HKEX,GTI;HKEX,MBI;HKEX,MPI;HKEX,MOI;HKEX,SSI;HKEX,ITI;HKEX,MCI;HKEX,CEU;HKEX,CJP;HKEX,CAU;HKEX,UCN;Eurex,FBTP;Eurex,FOAT;Eurex,FBON;Eurex,FESB;Eurex,FSTB;Eurex,FGBL;Eurex,FGBM;Eurex,FRDX;Eurex,FXXP;Euronext,kFTI;OSE,TOPIX;ICE,MME;SGX,ID;OSE,NK225;ASX,IB;ASX,IR;ASX,YT;ASX,XT;ASX,LT;ASX,AP;Eurex,CRQF;HKEX,FEM;HKEX,FEQ;Eurex,FCBI;CME,ZC;CME,ZS;CME,ZW;CME,ZR;CME,ZO;CME,XC;CME,XW;CME,XK;CME,6A;CME,QO"/>
    
     <!--实盘新的-->
    <!--<add key="TargetFutures" value="Eurex,CRQF;Eurex,FCBI;ASX,IB;ASX,IR;ASX,YT;ASX,XT;ASX,LT;ASX,AP"/>-->
    <!--UAT  CL  添加的 待删除-->
    <!--<add key="TargetFutures" value="HKEX,LRN;HKEX,LRP;HKEX,LRS;HKEX,GDR;HKEX,GDU;HKEX,LRA;HKEX,LRC;HKEX,LRZ;HKEX,HHI;HKEX,HSI;HKEX,MCH;HKEX,MHI;HKEX,CUS;HKEX,CHH;Euronext,jFCE;LME,CA;LME,AH;LME,PB;LME,ZS;LME,NI;LME,SN;SGX,CN;SGX,NK;SGX,IN;SGX,JB;SGX,TW;SGX,MY;SGX,CY;SGX,UC;SGX,FEF;SGX,SGP;SGX,TF;SGX,CH;ICE,FNG;ICE,BRN;ICE,WBS;ICE,ULA S;ICE,SB;ICE,CC;ICE,KC;ICE,CT;ICE,DX;ICE,YG;ICE,YI;Eurex,FDXM;Eurex,FVS;Eurex,FDAX;Eurex,FESX;CFE,VX;ICE,TF;ICE,W;ICE_L,Z;ICE,C;HKEX,GTI;HKEX,MBI;HKEX,MPI;HKEX,MOI;HKEX,SSI;HKEX,ITI;HKEX,MCI;HKEX,CEU;HKEX,CJP;HKEX,CAU;HKEX,UCN;Eurex,FBTP;Eurex,FOAT;Eurex,FBON;Eurex,FESB;Eurex,FSTB;Eurex,FGBL;Eurex,FGBM;Eurex,FRDX;Euronext,kFTI;OSE,TOPIX;ICE,MME;SGX,ID;OSE,NK225;ASX,IB;ASX,IR;ASX,YT;ASX,XT;ASX,XX;ASX,AP;Eurex,CRQF;HKEX,FEM;HKEX,FEQ;Eurex,FCBI" />-->
    <!--UAT环境不支持的合约-->
    <!--<add key="TargetFutures" value="CME,ZC;CME,ZS;CME,ZW;CME,ZR;CME,ZO;CME,XC;CME,XW;CME,XK"></add>-->
    <!--<add key="TargetFutures" value="LME,CA;LME,AH;LME,PB;LME,ZS;LME,NI;LME,SN" />-->
    <!--<add key="TargetFutures" value="LME,NI" />-->
    <!--<add key="TargetFutures" value="ICE,BRN" />-->
    <!--<add key="TargetFutures" value="OSE,TOPIX;OSE,NK225M;LME,CA;LME,AH;LME,PB;LME,ZS;LME,NI;LME,SN;ICE,BRN"></add>-->
    <!--<add key="TargetFutures" value=""></add>-->
    <!--MLEG TT的交易所名称和品种名称-->
    <!--<add key="TargetSpreads" value="HKEX,HHI;HKEX,HSI;HKEX,MCH;HKEX,MHI;HKEX,CUS;HKEX,CHH;SGX,IN;SGX,SGP;SGX,CN;SGX,NK;SGX,TF;SGX,TW;SGX,UC;ICE,BRN;ICE,WBS;ICE,SB;ICE,CC;ICE,KC;ICE,CT;ICE,DX;Eurex,FDAX;Eurex,FESX;Eurex,FGBL;Eurex,FGBM;CME,6A"/>-->
   <!--实盘-->
   <!--<add key="TargetSpreads" value="ICE,BRN;ICE,SB;ICE,CC;ICE,KC;ICE,CT;ICE,DX;Eurex,FDAX;Eurex,FESX;Eurex,FDXM;Eurex,FGBL;Eurex,FGBM;Eurex,FBTP"/>-->
   
    <!--<add key="TargetFutures" value="Eurex,OVS2" />-->
    <!--<add key="TargetSpreads" value="Eurex,FDAX;Eurex,FESX;Eurex,FDXM;Eurex,FGBL;Eurex,FGBM;Eurex,FBTP" />-->
    <add key="TargetSpreads" value="" />
    <!--OPT TT的交易所名称和品种名称-->
    <!--<add key="TargetOptions" value="Eurex,OVS2;ICE,DX;ICE,KC;ICE,CT;ICE,SB;CME,GE"/>-->
    <!--实盘-->
    <!--<add key="TargetOptions" value="Eurex,OVS2;ICE,DX;ICE,KC;ICE,CT;ICE,SB"/>-->
    
    <!--<add key="TargetOptions" value="Eurex,OVS2;ICE,DX" />-->
    <add key="TargetOptions" value=""/>
    <!--根据 "TT交易所,TT品种" 找 "ZD的品种": 先映射ZD的品种名称 配置格式：TT交易所,TT品种：ZD品种-->
    <add key="MappingZDProducts" value="ASX,IB:IBA;ASX,AP:S_AP;Euronext,jFCE:FCA;Euronext,kFTI:FTI;ICE,ULA S:GAS;ICE,YG:C-YG;ICE,YI:C-YI;ICE,TF:L-TF;ICE_L,Z:L-Z;LME,ZS:L-ZS;ASX,LT:XX;OSE,NK225M:Mini NK"/>
    <!--根据 "ZD品种" 找 "ZD交易所:根据映射ZD的品种名称，映射ZD的交易所名称 配置格式：ZD交易所,ZD品种-->
    <add key="MappingZDExchanges" value="SFE,IBA;SFE,IR;SFE,YT;SFE,XT;SFE,XX;SFE,S_AP;CBOE,VX;XEurex,FDXM;XEurex,FVS;XEurex,FDAX;XEurex,FESX;XEurex,FBTP;XEurex,FOAT;XEurex,FBON;XEurex,FESB;XEurex,FSTB;XEurex,FGBL;XEurex,FGBM;XEurex,FRDX;XEurex,CRQF;XEurex,FCBI;XEurex,FCA;XEurex,FTI;NYBOT,FNG;NYBOT,SB;NYBOT,CC;NYBOT,KC;NYBOT,CT;NYBOT,DX;eCBOT,C-YI;Liffe,L-TF;NYBOT,MME;Liffe,L-Z;JPX,TOPIX;JPX,NK225;SGXQ,CN;SGXQ,NK;SGXQ,IN;SGXQ,JB;SGXQ,TW;SGXQ,MY;SGXQ,CY;SGXQ,UC;SGXQ,FE;SGXQ,SG;SGXQ,TF;SGXQ,CH;SGXQ,ID;JPX,Mini NK;XEurex,OVS2"/>
    
    
    <!--导期权合约-->
    <!--期权期货现货,配置格式：TT品种:期货商品,现货商品。条之间分号隔开-->
    <add key="OptFutSpot" value="OVS2:FVS,FVS;DX:DX,DX;KC:KC,KC;CT:CT,CT;SB:SB,SB"/>
    <!--货币名称，配置格式：TT tag15值,ZD名称-->
    <add key="CurrencyName" value="AUD,澳元;CHF,瑞士法郎;EUR,欧元;GBP,英镑;HKD,港币;HKD-HKFE,港交所港币;JPY,日币;KRW,韩元;MYR,马币;RMB,人民币;RMB-HKFE,港交所人民币;SGD,新加坡币;THB,泰铢;TWD,新台币;USD,美元;USD-HKFE,港交所美元"/>
    <!--合约名称的汉字部分,配置格式：TT品种,合约名称的汉字部分-->
    <add key="ContractChineseName" value="OVS2,VSTOXX期权看;DX,美指看;KC,咖啡看;CT,棉花看;SB,11号糖看"/>
    
    
    <!--价格倍率配置:ZD和TT价格显示不同，做倍率转换-->
    <!--<add key="DisplayPrxFactor" value="CA:1;AH:1;PB:1;NI:1;SN:1;IPE e-Brent:1"/>-->
    <add key="DisplayPrxFactor" value="6A:0.0001;ZR:0.001"/>
    <add key="FractionalPrxFactor" value="ZC:ZS:ZW:ZR:ZO:XC:XW:XK,100,8"/>
    
    
    <!--ZD交易所,ZD品种,倍率,T+1开盘时间-->
    <add key="SupportedTradeVolumeProducts" value="JPX,TOPIX,1000,7:45;JPX,NK225,1000,7:45;ICE,BRN,1000,7:45;LME,CA,1000,7:45;LME,AH,1000,7:45;LME,PB,1000,7:45;LME,L-ZS,1000,7:45;LME,NI,1000,7:50;LME,SN,1000,7:05"/>

    <!--<add key="DisplayPrxFactor" value="CME,ZC:100;CME,ZS:100;CME,ZW:100;CME,ZR:100;CME,ZO:100;CME,XC:100;CME,XW:100;CME,XK:100" />-->

    <!--SessionAndPsw 的账号没有用到只用密码，账号用的是Quickfix_TTMarketAdapter配置文件里的SenderCompID=daintmd。-->
    <!--上手账号:和config 下quickfix_market.cfg里的SenderCompID的配置要一致-->
    <add key="SessionAndPsw" value="ZDDEV_SD,12345678"/>
    <add key="OnBehalfOfSubID" value="LRui"/>

    <!--实盘-->
    <!--<add key="SessionAndPsw" value="GHFDXESSD_ZD,123456" />-->
    <!--<add key="SessionAndPsw" value="daintmd,summer986" />
    <add key="OnBehalfOfSubID" value="XJing"/>-->

    <!--<add key="DisorderSpread" value="DX_S" />-->


    <!--新版行情-->
    <add key="NewMD" value="true"/>


    <!--老行情格式-->
    <!--发送到二级行情IP，可用127.0.0.1代替-->
    <add key="multicastIP" value="127.0.0.1"/>
    <!--发送到二级行情端口号-->
    <add key="multicastPort" value="7777"/>


    <!--新行情格式-->
    <!--发送到二级行情UDP端口号-->
    <!--<add key="multicastPort" value="7777"/>-->
    <!--发送到二级行情UDPIP，可用127.0.0.1代替-->
    <!--<add key="multicastIP" value="192.168.80.60"/>-->
    <!--<add key="multicastIP" value="127.0.0.1"/>-->

    <!--发送到二级行情TCP端口号-->
    <!--<add key="multicastTCPPort" value="7776"/>-->
    <!--发送到二级行情TCPIP-->
    <!--<add key="multicastTCPIP" value="127.0.0.1"/>-->



    <!--发送到二级行情UDP端口号-->
    <add key="multicastPort" value="12000"/>
    <!--发送到二级行情UDPIP，可用127.0.0.1代替-->
    <add key="multicastIP" value="192.168.1.105"/>
    <!--发送到二级行情TCP端口号-->
    <add key="multicastTCPPort" value="10000"/>
    <!--发送到二级行情TCPIP-->
    <add key="multicastTCPIP" value="192.168.1.105"/>



    <!--程序启动时自动启动服务-->
    <add key="AutoStart" value="No"/>
    <!--定时清结算价功能数据库配置-->
    <!--杜文俊程序：获取品种开盘时间-->  
    <add key="FutureConnectStr" value="Server=192.168.1.179;user id=sa;password=shzd!@#456;initial catalog=ForeignShare;Enlist=false;Min Pool Size=1;Max Pool Size=2"/>
    <!--获取品种开盘时间偏移量（表：TNewDayTime）：用于订阅行情数据、清理结算价-->
    <add key="ForeignShareStr" value="Server=192.168.1.105;user id=sa;password=12345678;initial catalog=ForeignShare;Enlist=false;Min Pool Size=1;Max Pool Size=2"/>
    <!--每天三点自动保存结算价：之前每天下午重启，重启之前保存结算价-->
    <add key="SaveSettlementPriceTime" value="14:04:00"/>
    <!--触发点击stop服务时间，防止杀进程造成数据丢失-->
    <add key="RestartTime" value="13:20:00"/>
    <!--压缩发送到二级行情的数据时间-->
    <add key="ZipLogTime" value="00:10:00"/>
    <!--是否保存发送到二级行情的数据-->
    <add key="LogSendMsg" value="true"/>
    <!--记录发送给二级行情的合约类型，多个用逗号分隔（FUT,MLEG,OPT）-->
    <add key="LogSendMsgSecurityType" value="FUT,MLEG,OPT"/>
    <!--异步日志写入的条数-->
    <add key="LogCacheSize" value="1"/>
    <!--单位分钟-->
    <add key="TimerInterval" value="5"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
