<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <clear/>

    <!--程序配置文件-->
    <add key="QuickFixConfig" value="config\Quickfix_ZDTradeClient.cfg"/>
    <add key="FIX42" value="config\FIX42.xml"/>
    <add key="SecurityDefinitionFuture" value="config\TT_Secu.dat"/>
    <add key="SecurityDefinitionOption" value="onfig\TT_Secu_Opt.dat"/>

    <!--缓存订单-->
    <add key="PersistOrders" value="config/PersistOrders.data"/>
    <add key="OrderID" value="config/OrderID.data"/>
    <!--以上为程序约定配置，无需更改-->


    <!--Tag 1 Account的值，ZD系统的上手号-->
    <add key="Account" value="ZD_001"/>

    <!--Tag 116-->
    <add key="OnBehalfOfSubID" value="LRui"/>
    <!--TT账号和密码-->
    <!--tag49:SenderCompID, 和Quickfix_ZDTradeClient.cfg配置文件中的SenderCompID配置保持一致-->
    <add key="SessionAndPsw" value="ZDDEV,12345678"/>

    <!--Tag11 手动设置范围-->
    <add key="Order_ID_Scope" value="1000000,9000000"/>


    <!--historyGate 获取T+1时间的配置-->
    <!--<add key="Gate_FUT_IP" value="192.168.1.105"/>
    <add key="Gate_FUT_Port" value="8606"/>-->

    <!--如果上手不是GHF请设置其他值，比如Phillip-->
    <add key="ClearFirm" value="GHF"/>
    <!--以下GHF的tag 设置,清算公司不是GHF，不用设置-->
    <add key="Prefix" value="ZD"/>
    <add key="Pre_Agreed_Ref" value="GHFL"/>
    <add key="KenangaRef" value="KenangaRef"/>
    <add key="Prefix_Newwedge_Ref" value="Prefix_Newwedge_Ref"/>
    <add key="CME_SMPID" value="CME_SMPID"/>
    <add key="CME_Instruction" value="CME_Instruction"/>
    <add key="SGX_ClearingAccountOverride" value="CH99AHDAOM"/>



    <add key="RefreshTest" value="t1"/>
  </appSettings>
</configuration>
