<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <clear/>

    <!--程序配置文件-->
    <add key="QuickFixConfig" value="config\Quickfix_ZDTradeClient.cfg"/>
    <add key="FIX42" value="config\FIX42.xml"/>
    <add key="SecurityDefinitionFuture" value="config\TT_Secu.dat"/>
    <add key="SecurityDefinitionOption" value="onfig\TT_Secu_Opt.dat"/>

    <!--缓存订单-->
    <add key="GTC_ORDER_FILE" value="config\GTC_Order.dat"/>
    <add key="DAY_ORDER_FILE" value="config\DAY_Order.dat"/>
    <!--<add key="SECURITY_DEF_FILE" value="config\ZD_secdef.dat" />-->

    <!--TT账号-->
    <!--Tag 1 Account的值，ZD系统的上手号-->
    <add key="Account" value="ZD_001"/>
    <!--<add key="SenderSubID" value="ZD_123456"/>-->
    <!--Tag 116-->
    <add key="OnBehalfOfSubID" value="LRui"/>
    <add key="SessionAndPsw" value="ZDDEV,12345678"/>

    <!--Tag11 手动设置范围-->
    <add key="Order_ID_Scope" value="1000000,9000000"/>
    <!--最近使用的ClinetID-->
    <add key="CL_ORDER_ID" value="100010"/>
    <!--<add key="UnUsing" value="0000"/>-->
    
    
    <!--以下暂时未用的配置项-->
    <add key="DailyRestartTime" value="5:32"/>
    <add key="ClearFirm" value="GHFinancials"/>
    <add key="OtherSettings" value="HDACIIP:CH99AHDACIIP;HDACNDC1:CH99AHDAD1;HDACNDC2:CH99AHDAD2;HDACOMNI:CH99AHDAOM"/>
    <add key="ManualOrderIndicator" value="Y"/>
    <add key="HEATBEAT_INTERVAL" value="30"/>
    <add key="SenderLocationID" value="KR"/>
    <add key="ApplicationSystemName" value="ZD Trade System"/>
    <add key="TradingSystemVersion" value="V1.0"/>
    <add key="ApplicationSystemVendor" value="DA"/>


    <!--historyGate 获取T+1时间的配置-->
    <!--<add key="Gate_FUT_IP" value="192.168.1.105"/>
    <add key="Gate_FUT_Port" value="8606"/>-->

    <!--以下GHF的tag 设置-->
    <add key="Prefix" value="ZD"/>
    <add key="Pre_Agreed_Ref" value="GHFL"/>
    <add key="KenangaRef" value="KenangaRef"/>
    <add key="Prefix_Newwedge_Ref" value="Prefix_Newwedge_Ref"/>
    <add key="CME_SMPID" value="CME_SMPID"/>
    <add key="CME_Instruction" value="CME_Instruction"/>
    <add key="SGX_ClearingAccountOverride" value="CH99AHDAOM"/>
    <!--如果上手不是GHF请设置其他值，比如Phillip-->
    <add key="Company" value="GHF"/>
  </appSettings>
</configuration>
